@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="ck_bc_main_wrapper float_left" id="page-shop">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>404 Page Not found</h1>
                <h3>Here's the Lamington you were looking for... </h3>
            </div>
        </div>
    </div>
</div>